<template>
<div>
  <label for='field'>{{ label }}</label>
  <input it='field' v-model='text'>
</div>
</template>

<script>

export default {
  name: 'StringInput',
  props: {
    module: {
      default: null,
      type: String,
    },
    qname: String,
    label: String,
    vuexStorage: {
      default: true,
      type: Boolean,
    },
    localStorage: {
      default: false,
      type: Boolean,
    },
  },
  computed: {
    prefix() {
     return (this.module? `${this.module}/` : '');
    },
    key() {
     return `${this.prefix}${this.qname}`;
    },
    text: {
      get() {
        let value = null;
        if (this.localStorage) {
          value = localStorage.getItem(this.key);
        } else
        if (!value || this.vuexStorage) {
          value = this.$store.getters[this.key];
        }
        return value || "";
      },
      set(value) {
        if (this.vuexStorage) {
          let payload = { key: this.qname, value: value, localStorage: this.localStorage };
          this.$store.dispatch(`${this.prefix}update`, payload);
        }
      }
    }
  }
}
</script>
