<template>
  <div class="home">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <StringInput module='user' qname='name' label='Your name' />
    <StringInput module='user' qname='username' label='Your username'
                 :localStorage='true' />
    <StringInput module='user' qname='password' label='Type password'
                 :localStorage='false' :vuexStorage='false' />
  </div>
</template>

<script>
// @ is an alias to /src
import StringInput from '@/components/inputs/string.vue'
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    StringInput,
    HelloWorld
  }
}
</script>
