<template>
<v-container class='hello'>

  <v-row class='text-center'>

    <v-col class='mb-4'>

    <h1 class='display-2 font-weight-bold mb-3'>{{ msg }}</h1>
    <p>
      For a guide and recipes on how to configure / customize this project,<br>
      check out the
      <a href='https://cli.vuejs.org' target='_blank' rel='noopener'>vue-cli documentation</a>.
    </p>
    </v-col>

    <v-col class='mb-5' cols='12'>
    <h3>Installed CLI Plugins</h3>
      <v-row justify='center' class='link-group'>
        <a v-for='(next, i) in plugins'
          :key='i' :href='next.href'
          class='subheading mx-3' target='_blank'
        >{{ next.text }}
        </a>
      </v-row>
    </v-col>

    <v-col class='mb-5' cols='12'>
    <h3>Essential Links</h3>
      <v-row justify='center' class='link-group'>
        <a v-for='(next, i) in essentialLinks'
          :key='i' :href='next.href'
          class='subheading mx-3' target='_blank'
        >{{ next.text }}
        </a>
      </v-row>
    </v-col>


    <v-col class='mb-5' cols='12'>
    <h3>Ecosystem</h3>
      <v-row justify='center' class='link-group'>
        <a v-for='(next, i) in ecosystem'
          :key='i' :href='next.href'
          class='subheading mx-3' target='_blank'
        >{{ next.text }}
        </a>
      </v-row>
    </v-col>


  </v-row>

  <v-row class='text-center'>

    <v-col class='mb-4'>
      <h2 class='display-2 font-weight-bold mb-3'>Vuetify stuff</h2>
      <p class='subheading font-weight-regular'>
        For help and collaboration with other Vuetify developers,
        <br>please join our online
        <a href='https://community.vuetifyjs.com' target='_blank'
        >Discord Community</a>
      </p>
    </v-col>

    <v-col class='mb-5' cols='12'>
      <h3 class='headline font-weight-bold mb-3'>What's next?</h3>
      <v-row justify='center'>
        <a v-for='(next, i) in whatsNext'
          :key='i' :href='next.href'
          class='subheading mx-3' target='_blank'
        >{{ next.text }}
        </a>
      </v-row>
    </v-col>

    <v-col class='mb-5' cols='12'>
      <h3 class='headline font-weight-bold mb-3'>Important Links</h3>
      <v-row justify='center'>
        <a v-for='(link, i) in importantLinks'
          :key='i' :href='link.href'
          class='subheading mx-3' target='_blank'
        >{{ link.text }}
        </a>
      </v-row>
    </v-col>

    <v-col class='mb-5' cols='12'>
      <h3 class='headline font-weight-bold mb-3'>Ecosystem</h3>
      <v-row justify='center'>
        <a v-for='(eco, i) in vuetify'
          :key='i' :href='eco.href'
          class='subheading mx-3' target='_blank'
        >{{ eco.text }}
        </a>
      </v-row>
    </v-col>

  </v-row>
</v-container>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({
    plugins: [
      { text: 'babel', href: 'https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-babel', },
      { text: 'eslint', href: 'https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-eslint', },
      { text: 'unit-mocha', href: 'https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-unit-mocha', },
      { text: 'e2e-nightwatch', href: 'https://github.com/vuejs/vue-cli/tree/dev/packages/%40vue/cli-plugin-e2e-nightwatch', },
    ],
    essentialLinks: [
      { text: 'Core Docs', href: 'https://vuejs.org', },
      { text: 'Forum', href: 'https://forum.vuejs.org', },
      { text: 'Community Chat', href: 'https://chat.vuejs.org', },
      { text: 'Twitter', href: 'https://twitter.com/vuejs', },
      { text: 'News', href: 'https://news.vuejs.org', },
    ],
    ecosystem: [
      { text: 'vue-router', href: 'https://router.vuejs.org', },
      { text: 'vuex', href: 'https://vuex.vuejs.org', },
      { text: 'vue-devtools', href: 'https://github.com/vuejs/vue-devtools#vue-devtools', },
      { text: 'vue-loader', href: 'https://vue-loader.vuejs.org', },
      { text: 'awesome-vue', href: 'https://github.com/vuejs/awesome-vue', },
    ],
    vuetify: [
      { text: 'vuetify-loader', href: 'https://github.com/vuetifyjs/vuetify-loader', },
      { text: 'github', href: 'https://github.com/vuetifyjs/vuetify', },
      { text: 'awesome-vuetify', href: 'https://github.com/vuetifyjs/awesome-vuetify', },
    ],
    importantLinks: [
      { text: 'Documentation', href: 'https://vuetifyjs.com', },
      { text: 'Chat', href: 'https://community.vuetifyjs.com', },
      { text: 'Made with Vuetify', href: 'https://madewithvuejs.com/vuetify', },
      { text: 'Twitter', href: 'https://twitter.com/vuetifyjs', },
      { text: 'Articles', href: 'https://medium.com/vuetify', },
    ],
    whatsNext: [
      { text: 'Explore components', href: 'https://vuetifyjs.com/components/api-explorer', },
      { text: 'Select a layout', href: 'https://vuetifyjs.com/layout/pre-defined', },
      { text: 'Frequently Asked Questions', href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions', },
    ],
  }),
}
</script>
