<template>
<v-app id='app'>

<v-card flat tile>
  <v-toolbar dense id='nav'>
    <v-btn icon><router-link to='/'>Home</router-link></v-btn>
    <v-divider class='mx-4' vertical />
    <v-btn icon><router-link to='/about'>About</router-link></v-btn>
    <v-divider class='mx-4' vertical />
  </v-toolbar>
</v-card>

<router-view/>

</v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>
